@keyframes shadow {
  0% {
    -webkit-box-shadow: 7px 7px 31px -9px rgba(0, 0, 0, 0);
    -moz-box-shadow: 7px 7px 31px -9px rgba(0, 0, 0, 0);
    box-shadow: 7px 7px 31px -9px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 7px 7px 31px -9px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 7px 7px 31px -9px rgba(0, 0, 0, 0.61);
    box-shadow: 7px 7px 31px -9px rgba(0, 0, 0, 0.61);
  }

  100% {
    -webkit-box-shadow: 7px 7px 31px -9px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 7px 7px 31px -9px rgba(0, 0, 0, 0.31);
    box-shadow: 7px 7px 31px -9px rgba(0, 0, 0, 0.31);
  }
}

body {
  font-family: "Sarabun", sans-serif;
  background-color: #151515;
}

h1 {
  color: #dbdbdb;
}

ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0;
}

ol > li {
  /* background-color: lightgrey; */
  border-bottom: solid 1px white;
  padding: 0.5em 1.3em 0.5em 1.3em;
  margin: 0.2em;
  color: white;
}
ol > li:hover {
  background-color: #4a4a4a;
  opacity: 0.8;
  animation: shadow 1s ease-in;
  -webkit-box-shadow: 7px 7px 31px -9px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 7px 7px 31px -9px rgba(0, 0, 0, 0.31);
  box-shadow: 7px 7px 31px -9px rgba(0, 0, 0, 0.31);
}

ol > li {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: start;
}

ol > li > p:nth-child(1),
ol > li > p:nth-child(2) {
  margin-right: 2em;
  width: 50em;
}

ol > li:first-of-type {
  color: rgba(255, 255, 255, 0.31);
  text-transform: uppercase;
  font-size: 0.8em;
}

input[type="text"] {
  width: 50%;
  font-size: 1.2em;
  padding: 0.3em 0.2em;
}


.over {
  border: 2px dashed #fff
}
